<div class="row">

  <!-- barre de recherche-->
  <div style="padding-left: 5%">
    <input type="text" ng-model="searchInfo.motsCles">
    <button ng-click="sendKeyWords()">Rechercher</button>
  </div>

  <!-- fil d'actualité -->
  <div class="col-md-8" style="padding-left: 5%">

    <div style="height: 80vh ;" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Résultats de la recherche</h3>
      </div>
      <div class="panel-body" style="padding-left: 5%;">
        <div class="list" style="padding-bottom: 10px; height: 310px; overflow-y:scroll;">
				    <span  ng-repeat="result in results">
              <div class="item" style="height: 30px; border-bottom: 2px solid">
                {{result.name}}
                <button ng-click="startListening(result)" style="float: right">
                  Lancer lecture
                </button>
              </div>
				    </span>
        </div>

      </div>
    </div>

  </div>

  <!-- mes mix -->
  <div class="col-md-4"  style="padding-right: 5%">

    <div style="height: 80vh ;" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mes mix</h3>
      </div>
      <div class="panel-body">
        <p>blabla</p>


      </div>
    </div>

  </div>

<div id="demo" ng-controller="PlayerCtrl as player" >
  <div class="row" style="background-color: gray; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; border: none;">
      <div class="col-sm-4">
        <auto-scoll-text comments="commentTab"></auto-scoll-text>
          <!-- A COMMENTER<span>
            Je pense que ce titre est a prendre avec des pincettes :D
          </span> A COMMENTER-->
      </div>
      <div class="col-sm-1">
          <span>
            {{title}}
          </span>
          <br>
          <span>Note : 4.5/5</span>
          <br>
          <span>Votre note : 4.5/5</span>
      </div>
      <div class="col-sm-6">
          <ng-wavesurfer url="./media/test.wav" wave-color="#337ab7" progress-color="#23527c" height="64">
          </ng-wavesurfer>
      </div>

      <div class="col-sm-1">
          <button class="btn btn-success btn-block" ng-click="wavesurfer.playPause()">
              <span id="play" ng-show="paused">
                  <i class="glyphicon glyphicon-play"></i>
                  Play
              </span>

              <span id="pause" ng-show="!paused">
                  <i class="glyphicon glyphicon-pause"></i>
                  Pause
              </span>
          </button>

          <button class="btn btn-success btn-block" ng-click="wavesurfer.playPause()">
            Queue
          </button>
      </div>
  </div>
  <!-- A COMMENTER
  <div class="list-group" id="playlist">
    <a href=""
       ng-class="{ 'list-group-item': true, active: isPlaying('./media/demo.wav') }"
       ng-click="play('./media/demo.wav')">
        <i class="glyphicon glyphicon-play"></i>
        czskamaarù – Trou
        <span class="badge">0:21</span>
    </a>

    <a href=""
       ng-class="{ 'list-group-item': true, active: isPlaying('./media/test.wav') }"
       ng-click="play('./media/test.wav')">
        <i class="glyphicon glyphicon-play"></i>
        Looool
        <span class="badge">1:04</span>
    </a>
  </div>
    A COMMENTER -->
</div>

</div>

