<div class="row">

  <!-- barre de recherche-->
  <div style="padding-left: 5%">
    <input type="text" ng-model="searchInfo.motsCles">
    <button ng-click="sendKeyWords()">Rechercher</button>
  </div>

  <!-- fil d'actualité -->
  <div class="col-md-8" style="padding-left: 5%">

    <div style="height: 80vh ;" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Résultats de la recherche</h3>
      </div>
      <div class="panel-body" style="padding-left: 5%;">
        <div class="list" style="padding-bottom: 10px; height: 310px; overflow-y:scroll;">
				    <span  ng-repeat="result in results">
              <div class="item" style="height: 30px; border-bottom: 2px solid">
                {{result.name}}
                <button ng-click="startListening(result)" style="float: right">
                  Lancer lecture
                </button>
              </div>
				    </span>
        </div>

      </div>
    </div>

  </div>

  <!-- mes mix -->
  <div class="col-md-4"  style="padding-right: 5%">

    <div style="height: 80vh ;" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mes mix</h3>
      </div>
      <div class="panel-body">
        <p>blabla</p>


      </div>
    </div>

  </div>

</div>

