<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title" id="myModalLabel">Login :</h3>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <form class="form-horizontal" name="login" ng-submit="logIn(user)" novalidate>
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
            <span ng-show="login.email.$invalid && !login.email.$pristine" class="red">
                <span class="glyphicon glyphicon-exclamation-sign"></span>email no valid.
            </span>
            <span ng-show="login.email.$error.required" class="red">
                <span class="glyphicon glyphicon-exclamation-sign"></span> email is required!
            </span>
            <br>
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" name="password" placeholder="Password" ng-model="user.password" required>
            <span ng-show="login.password.$error.required" class="red">
                <span class="glyphicon glyphicon-exclamation-sign"></span> A password is required!
            </span>
            <br>
            <button type="submit" class="button" ng-disabled="login.$invalid"><span class="glyphicon glyphicon-send button-icon"></span>Login
            </button>
            <a ng-href="#/register">
              <button class="button button-red">
                <span class="glyphicon glyphicon-circle-arrow-right button-icon"></span>Register
              </button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
</div>
