<div class="row">

    <!-- LEFT part -->
    <div class="col-md-2">

      <!-- PISTES -->
      <div class="row">
        <div id="pistes" class="panel panel-default">
          <!-- insert something -->
        </div>
      </div>

      <!-- JESAISPAS -->
      <div class="row">
        <div id="dunno" class="panel panel-default">
          <!-- insert something -->
        </div>
      </div>

    </div>



    <!-- CENTER part -->
    <div class="col-md-9">

      <!-- TOP part -->
      <div class="row">

        <!-- CONSOLE -->
        <div class="col-md-6">
            <div id="console" class="panel panel-default">
              <div class="panel-body">
                <!-- insert something -->
              </div>
            </div>
        </div>

        <!-- WAVE -->
        <div class="col-md-6">
          <div id="wave" class="panel panel-default">
            <!-- insert something -->
          </div>
        </div>

      </div>


      <!-- MIDDLE part -->
      <div class="row" style="padding-top: 40px; padding-left: 50px">

        <!-- MIX part -->
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-2" style="height : 40vh;" ng-repeat="slider in priceSliders">
              <rzslider class="fader" rz-slider-model="slider.value" rz-slider-options="slider.options" ></rzslider>
            </div>
          </div>
        </div>

        <!-- Right part -->
        <div class="col-md-2">
          <div class="row">
            <button ng-click="default()">Default</button>
          </div>
          <div class="row">

          </div>
          <div class="row">

          </div>
        </div>


      </div>


      <!-- Bottom element -->
      <div class="row">

        <div id="myBottom" class="panel panel-default">

        </div>

      </div>

    </div>

</div>

