<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title" id="myModalLabel">Register :</h3>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <dv class="col-md-6 col-md-offset-1">
          <form class="form-horizontal"  name="register" ng-submit="signUp(user)" novalidate>
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
            <span ng-show="register.email.$invalid && !register.email.$pristine" class="red">
                <span class="glyphicon glyphicon-exclamation-sign"></span>email no valid.
            </span>
            <span ng-show="register.email.$error.required" class="red">
                <span class="glyphicon glyphicon-exclamation-sign"></span> email is required!
            </span>
            <br>
            <br>
            <label for="password">First Name</label>
            <br>
            <input type="text" name="first_name" placeholder="First Name" ng-model="user.first_name" required>
            <span ng-show="register.first_name.$error.required" class="red">
                <span class="glyphicon glyphicon-exclamation-sign"></span> A first name is required!
            </span>
            <br>
            <label for="password">Name</label>
            <br>
            <input type="text" name="name" placeholder="Name" ng-model="user.name" required>
            <span ng-show="register.name.$error.required" class="red">
                <span class="glyphicon glyphicon-exclamation-sign"></span> A name is required!
            </span>
            <br>
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" name="password" placeholder="Password" ng-model="user.password" required>
            <span ng-show="register.password.$error.required" class="red">
                <span class="glyphicon glyphicon-exclamation-sign"></span> A password is required!
            </span>
            <br>
            <label for="confirmPassword">Confirm password</label>
            <br>
            <input type="password" name="confirmPassword" placeholder="Confirmer Password" ng-model="user.confirmPassword"
            compare-to="user.password" required>
            <span ng-show="register.confirmPassword.$error.compareTo" class="red">
                The confirmed password is not the same password!
            </span>
            <span ng-show="register.confirmPassword.$error.required" class="red">
                Confirmed password is required!
            </span>
            <br>
            <button type="submit" class="button" ng-disabled="register.$invalid"><span class="glyphicon glyphicon-send button-icon"></span>Register
            </button>
            <a ng-href="#/login">
              <button class="button button-red">
                <span class="glyphicon glyphicon-circle-arrow-right button-icon"></span>Login
              </button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
