<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">

        <div style="padding-bottom: 30px">
          <i class="icon-search"></i>
          <input type="search" class="form-control" placeholder="Rechercher par artiste" ng-model="query"/>
        </div>

        <table class="table table-hover table-striped nohover">
          <tr>
            <th><a href ng-click="predicate = 'titre'; reverse=!reverse"></a></th>
            <th><a href ng-click="predicate = 'artiste'; reverse=!reverse">Artiste {{sortIconFor('price')}}</a></th>
            <th><a href ng-click="predicate = 'titre'; reverse=!reverse">Titre {{sortIconFor('price')}}</a></th>
            <th><a href ng-click="predicate = 'album'; reverse=!reverse">Album {{sortIconFor('price')}}</a></th>
            <th><a href ng-click="predicate = 'annee'; reverse=!reverse">Année {{sortIconFor('price')}}</a></th>
            <th><a href ng-click="predicate = 'genre'; reverse=!reverse">Genre {{sortIconFor('rating')}}</a></th>
          </tr>
          <tbody>
            <tr ng-repeat="s in songs | filter:query | orderBy : predicate:reverse" ng-class="{selectedR: s.titre === name}">
              <td style="vertical-align: inherit"  ng-click="setSelected(s.titer)">
                <a href="" >
                  <img style = " display: block; margin: 0 auto;" class="img-rounded" height="80" ng-src="../images/{{s.titre}}.jpg">
                </a>
              </td>
              <td style="vertical-align: inherit" ng-click="setSelected(s.titre)">
                <p>{{s.artiste}}</p>
              </td>
              <td style="vertical-align: inherit"  ng-click="setSelected(s.titre)">
                <p>{{s.titre}}</p>
              </td>
              <td style="vertical-align: inherit"  ng-click="setSelected(s.titre)">
                <p>{{s.album}}</p>
              </td>
              <td style="vertical-align: inherit"  ng-click="setSelected(s.titre)">
                <p>{{s.annee}}</p>
              </td>
              <td style="vertical-align: inherit"  ng-click="setSelected(s.titre)">
                <p>{{s.genre}}</p>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="charger()" ng-disabled="!canValid" class="btn btn-success" data-dismiss="modal">Charger</button>
      </div>
    </div>
  </div>
</div>

