$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "color.scss";
@import "normalize.scss";
@import "morphSearch.scss";
@import "button.scss";
@import "login.scss";
@import "timeline.scss";

// MIX.HTML
#pistes{
  margin-left: 20px;
  width: 100%;
}

#pistess{
  margin-left: 20px;
  width: 100%;
}

#console {
  margin: 0 auto;
  width: 80%;
  height: 20vh;
}

#wave {
  margin: 0 auto;
  width: 80%;
  height: 20vh;
}

#untruc {
  margin: 0 auto;
  width: 80%;
  height: 20vh;
}


#compo {
  height : 40vh;
}

#myBottom {
  width: 85%;
  float: none;
  margin: 0 auto;
  margin-top: 30px;
  height: 15vh;
}

/* main.css */


/*	---------------------------------------------------------------------------
 *	:: Global classes and styles
 *
 *	- Clearfix
 *	- Nodes
 *	- Modules
 *	- Module nodes
 *	- Module close
 *	- Module footer
 *	- Control group
 *	- Slider
 *	-------------------------------------------------------------------------*/


/* Modules */
.mmodule {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom : 35px;
  display: block;
  //position: absolute;
}
.mmodule .mcontent {
  background: #fff;
  border-radius: 5px;
  min-width: 10em;
  overflow: hidden;
  padding: 1em 1.25em 1.25em 1.25em;
  position: relative;
}
.mmodule .mcontent img {
  display: block;
  margin: 0 auto;
}
.mmodule.has-footer .mcontent {
  border-bottom: 1px solid #dbdbdb;
  border-radius: 5px 5px 0 0;
}
.mmodule h6 {
  font-size: .75em;
  margin: 0 0 1em;
  text-align: center;
  text-transform: uppercase;
  color : black;
  font-weight: bold;
}

/* Module nodes */
.module .node {
  position: absolute;
  margin-top: -16px;
  top: 50%;
}
.module .node-input {
  left: -18px;
}
.module .node-output {
  right: -18px;
}

/* Module close */
.module .close {
  background: url('../img/ico-close.gif') 0 0 no-repeat;
  height: 8px;
  text-indent: -999em;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 9px;
}
.module .close:hover {
  opacity: .8
}

.module.analyzer {
}

/* Module footer */
.module footer {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(219, 219, 219));
  background-image: linear-gradient(top, rgb(255, 255, 255), rgb(219, 219, 219));
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  padding: 0em .4em .1em;
}
.module footer select {
  background: url('../img/ico-arrow.png') 100% 50% no-repeat;
  border: none;
  box-sizing: border-box;
  cursor: default;
  font-family: 'Droid Serif', Georgia, serif;
  font-size: .625em;
  font-style: italic;
  outline: none;
  white-space: pre;
  width: 100%;
  -webkit-appearance: none;
  -webkit-box-align: center;
}
.module.has-loop footer select {
  width: 70%;
}
.module footer .loop {
  border-left: 1px solid #dbdbdb;
  display: inline;
  float: right;
  font-size: .625em;
  padding: .4em 0 .4em .6em;
  text-transform: uppercase;
  width: 23%;
}

/* Control group */
.control-group {
  margin: 0 0 1.2em;
}
.control-group.last {
  margin: 0;
}

.control-group:last-of-type {
  margin: 0;
}

.control-group.disabled .slider-info {
  color: #e0e0e0;
}
/* Slider */
.slider-info {
  font-size: .625em; /* 10 / 16 */
  margin-bottom: 1em;
  overflow: hidden;
  padding-bottom: .4em;
  position: relative;
}
.slider-info .llabel {
  display: inline;
  float: left;
  text-transform: uppercase;
  width: 49%;
  color : red;
}
.slider-info .value {
  display: inline;
  float: right;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  width: 49%;
  color : red;
}
.mmodule .slider-info:last-child {
  margin-bottom: 0;
}

.ui-slider {
  background: url('../img/slider-bkg.gif') 0 0 repeat-x;
  border: 0 none;
  color: #fff;
  height: 11px;
  position: relative;
  text-align: left;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6;
  font-weight: bold;
  color: #1c94c4;
}
.ui-slider .ui-slider-handle {
  background: url('../img/slider-handle.png') 0 1px no-repeat;
  border: 0 none;
  cursor: default;
  height: 18px;
  margin-left: -.6em;
  position: absolute;
  top: -.3em;
  width: 16px;
  z-index: 2;
}
.ui-slider .ui-slider-range {
  background-position: 0 0;
  border: 0;
  display: block;
  font-size: .7em;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.ui-slider .ui-slider-range-min {
  left: 0;
}
.ui-slider .ui-slider-range-max {
  right: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #303030;
  height: 2px;
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7373), color-stop(50%, #a00000), color-stop(51%, #700000), color-stop(100%, #ff7373));
}
.panel-heading h3, .tabMenu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    /*width: 75%;*/
    padding-top: 15px !important;
    font-size: 16px;
}

.tabMenu {
  padding-bottom:15px !important;
  cursor : pointer;
}

.tabMenu:hover {
  background-color : $red;/*#6cbfee;*//*darken($color2, 1%);*/
}

.tabMenuSelected {
  background-color : $red;/*#6cbfee;*//*darken($color2, 1%);*/
}





.iconList {
  font-size: 20px !important;
  margin-right: 20px !important;
  cursor: pointer !important;
  /*color: $color2 !important;*/
  color: $red !important;
}
.iconList:hover {
  color: $colorText1;
}
.avatarList {
  margin: 0px !important;
}
.panelBody {
  text-align: center !important;
  font-size : 20px !important;
  background-color: gray !important;
}
.iconListTimeline {
  color: $color2 !important;
  margin-right: 8px !important;
  margin-top: 8px !important;
  cursor : auto !important;
}

















.panel-title, .panel-heading {
  height : 55px !important;
  padding: 0px !important;
  text-align: center;
  color: $colorText1 !important;
}

.panel-title {
  padding-top : 10px;
}

.panel-default {
  background-color : $color1 !important;
  border-color : $color2 !important;
  border-radius: 0px !important;
}
.panel-default > .panel-heading {
    color : $colorText1;
    background-color : $color2 !important;
    border-color : $color2 !important;
    border-radius: 0px !important;
}
a {
  text-decoration: none !important;
}








/* fond ecran */
html, body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $colorText1;
}

.borderTop {
  margin-top : 15px;
  padding-top: 10px;
  border-top : 2px $red solid;
}

.textAlign {
  text-align: center;
}


/* Rounded avatars */
.avatar {

    /*margin: 1em;*/
    margin: 10px;
    float: left;
    width: 55px;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px $red, 0 0 0 4px $blue, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px $red, 0 0 0 4px $blue, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px $red, 0 0 0 4px $blue, 0 2px 5px 4px rgba(0,0,0,.2);
}

.bodyBis {
  margin-top : 10px;
}

.border {
    border : 2px $red solid;
    padding : 21px;
}




.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  cursor: pointer;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 0.7em;
  font-size: 25px;
}
.rating > span:hover:before,
.rating > span.marked:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.button-icon-unfollow {
  color: $color2 !important;
}


/* restaurant list */

.fm-restaurant-list {
  min-height: 646px !important;
}

.fm-restaurant-list table {
  margin: -10px -20px -20px -10px;
  width: 700px;
}

.fm-restaurant-list th:first-child {
  width: 500px;
}

.fm-restaurant-list th {
  width: 100px;
}

.fm-restaurant-list img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.table-hover > tbody > tr.selectedR:hover > td,
.selectedR > td {
  background-color: #bddef9;
}


//** ***/
@mixin blur($px: 0) {
    -webkit-filter: blur(#{$px}px) !important;
    -ms-filter: blur(#{$px}px) !important;
    -moz-filter: blur(#{$px}px) !important;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'#{$px}\' /></filter></svg>#blur");
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$px}');
}

/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
/// @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(.6em, slategray);

::selection {
  color: white;
  background: lighten( $color2, 20% );
}


/* overwrite bootstrap */
.modal-content {
  background-color: lighten( $color1, 10% );
  border-radius : 0px;
}
.modal-header {
  border : none;
  background-color: $color2;
}
.modal-footer {
  border: none;
    background-color: $color2;
}
.app-container{
  @include blur(5);
}

.content {
  margin : 20px;
}
body {
  color: $colorText1;
  background-color : $color1;
}

textarea, input {
  border: 3px solid #fff;
  background-color : lighten($color1, 30%);
  padding: 3px;
}
button {
  cursor: pointer !important;
}
textarea {
  min-height: 200px;
  min-width: 50%;
  resize: none;
}

label, button {
  cursor: pointer;
}

fieldset {
  border: 3px solid $color2;
  width: 95%;
  padding-bottom: 10px;
  height: 85vh;
  padding-bottom: 10px;
}

legend {
  color : $colorText1;
  width: auto;
  padding: 5px;
  border: 0px !important;
  margin-bottom : 0px;
}

.gi-1-5{font-size: 1.5em;}
.gi-1-8{font-size: 1.8em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

