<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Do Your mix</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-treasure-overlay-spinner/dist/treasure-overlay-spinner.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- FONTS -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700,300" />

    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/ngnotification/notification.css" />
  </head>
  <body ng-app="frontendApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


<!-- ngNotification -->
<div notifications="bottom right" ></div>


    <!--TODO : Delete Add your site or application content here -->
   <!-- <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">doYourMix</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/mix">Mix</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>-->


<!--    <div class="container">-->
    <div ng-view=""></div>
<!--    </div> -->


<!-- A DECOMMENTER
<div id="demo" ng-controller="PlayerCtrl as player" >
  <div class="row" style="background-color: gray; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; border: none; z-index: 99;">
      <div class="col-sm-4">
        <auto-scoll-text comments="commentTab"></auto-scoll-text>
          <!- A COMMENTER<span>
            Je pense que ce titre est a prendre avec des pincettes :D
          </span> A COMMENTER->
      </div>
      <div class="col-sm-1">
          <span>
            Titre
          </span>
          <br>
          <span>Note : 4.5/5</span>
          <br>
          <span>Votre note : 4.5/5</span>
      </div>
      <div class="col-sm-6">
          <ng-wavesurfer url="./media/test.wav" wave-color="#337ab7" progress-color="#23527c" height="64">
          </ng-wavesurfer>
      </div>

      <div class="col-sm-1">
          <button class="btn btn-success btn-block" ng-click="wavesurfer.playPause()">
              <span id="play" ng-show="paused">
                  <i class="glyphicon glyphicon-play"></i>
                  Play
              </span>

              <span id="pause" ng-show="!paused">
                  <i class="glyphicon glyphicon-pause"></i>
                  Pause
              </span>
          </button>

          <button class="btn btn-success btn-block" ng-click="wavesurfer.playPause()">
            Queue
          </button>
      </div>
  </div>
  <!--  A COMMENTER
  <div class="list-group" id="playlist">
    <a href=""
       ng-class="{ 'list-group-item': true, active: isPlaying('./media/demo.wav') }"
       ng-click="play('./media/demo.wav')">
        <i class="glyphicon glyphicon-play"></i>
        czskamaarù – Trou
        <span class="badge">0:21</span>
    </a>

    <a href=""
       ng-class="{ 'list-group-item': true, active: isPlaying('./media/test.wav') }"
       ng-click="play('./media/test.wav')">
        <i class="glyphicon glyphicon-play"></i>
        Looool
        <span class="badge">1:04</span>
    </a>
  </div>
    A COMMENTER ->
</div>
-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/async/lib/async.js"></script>
    <script src="bower_components/angular-treasure-overlay-spinner/dist/treasure-overlay-spinner.min.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
    <script src="bower_components/jquery-circle-progress/dist/circle-progress.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/ngnotification/notification.js"></script>
    <script src="scripts/lib/wavesurfer/wavesurfer.min.js"></script>
    <script src="scripts/lib/classie.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <script src="scripts/controllers/mix.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/home.js"></script>

        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/currentMusic.js"></script>
        <script src="scripts/services/notification.js"></script>
        <script src="scripts/services/tokeninterceptor.js"></script>
        <script src="scripts/services/buffer-loader.js"></script>
        <script src="scripts/services/mix.js"></script>
        <script src="scripts/services/search.js"></script>
        <script src="scripts/services/feedbacks.js"></script>
        <script src="scripts/directives/compareto.js"></script>
        <script src="scripts/directives/ngwavesurfer.js"></script>
        <script src="scripts/controllers/player.js"></script>
        <script src="scripts/directives/autoscolltext.js"></script>
        <script src="scripts/services/follow.js"></script>
        <script src="scripts/filters/follow.js"></script>
        <script src="scripts/services/currentmix.js"></script>
        <!-- endbuild -->
</body>
</html>
